@use "../../../assets/styles/"as *;

.cards{
    display: grid;
    @include grid(repeat(5, 1fr), 30px);
    .card {
        @include flex(center, center, row);
        background-color: $white;
        border-radius: 20px;
        img {
          width: 130px;
          margin-right:10px;
          border-radius: 50%;
        }
        .infoSide{
            font-family: $font-family;
            &>p{
                font-weight: $font-weight-400;
                color: #c0c3c6;
            }
            &h4{
                font-weight: $font-weight-500;
            }
        }
      }
}
@media (min-width:768px) and (max-width:1024px){
    .cards{
        display: grid;
    @include grid(repeat(3, 1fr), 30px);
    }
}
@media (min-width:576px) and (max-width:767.9px){
    .cards{
        display: grid;
    @include grid(repeat(2, 1fr), 10px);
    }
}
@media (min-width:170px) and (max-width:575.9px){
    .cards{
        display: grid;
    @include grid(repeat(1, 1fr), 5px);
    }
}